@charset "UTF-8";

/* Reset 시작 */
* {
  color: #333; /* 기본텍스트 색*/
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff; /* 배경색 */
}

a:link {
  color: #444;
}
a:visited {
  color: #444;
}
a:hover {
  color: #555;
}
a:active {
  color: #555;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}
/* IE 낮은 버전에서 동일한 결과 출력용 */

/* Reset 끝 */

/* Guide Line 가이드라인 시작 */
/* div#headerFrame,
header#header {
  border: 1px solid #000;
}

div#wrap {
  border: 1px solid #000;
}

div#slide {
  border: 1px solid #000;
}

div#contents {
  border: 1px solid #000;
}

div#footerFrame,
footer#footer {
  border: 1px solid #000;
} */
/* Guide Line 가이드라인 끝 */

/* div#headerFrame 시작 */
div#headerFrame {
  width: 100%;
  height: 100px;

  background-color: rgba(66, 191, 240, 0.2);
}

header#header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;

  justify-content: space-between;
}

#header > div#headerLogo {
  width: 200px;
  height: 100px;
  line-height: 100px;

  /* border: 1px solid #000; */
}

#header > nav#gnb {
  /* border: 1px solid #000; */
  margin: 0 40px;
  flex: 1;
}

#header #gnb ul#mainMenu {
  height: 100px;
  /* border: 1px solid #000; */

  justify-content: flex-end;
  align-items: flex-end;
}

#header #gnb a {
  width: 150px;
  height: 42px;
  font-size: 17px;
  text-align: center;
  line-height: 42px;

  border: 1px solid #aaa;

  display: inline-block;
}

#header .subMenu {
  display: none;
  position: absolute;
  z-index: 2;
}

#header .subLi a {
  color: #fff;
  border-color: rgba(66, 191, 240) !important;
}

/* GNB메뉴 하이라이트 효과 시작 */
#gnb .mainLi:hover > a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(66, 191, 240);
}

#gnb .subLi > a:hover {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
}
/* GNB메뉴 하이라이트 효과 끝 */

/* div#headerFrame 끝 */

/* GNB 메뉴의 서브메뉴 배경 시작 */
div#subMenuBG {
  width: 1200px;
  height: 168px;
  margin: 0 auto;

  background-color: rgba(66, 191, 240, 0.9);

  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}
/* GNB 메뉴의 서브메뉴 배경 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1200px;
  margin: 0 auto;
}

/* 슬라이드쇼 시작 */
div#slide {
  height: 300px;
  overflow: hidden;
}

div#shuttleFrame {
  width: 3660px;
}

#slide a {
  width: 1200px;
  height: 300px;
  /* border: 4px solid #08f; */
  display: inline-block;
  position: relative;
}

#slide span {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 4px solid #aaa;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 슬라이드쇼 끝 */

/* div#contents 컨텐츠 영역 시작 */
div#contents {
  height: 200px;
}

#contents > div {
  height: 200px;
  padding: 8px;
  /* border: 1px solid #000; */
  flex: 1;
}

#contents button {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 14px;
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  background-color: #fff;

  position: relative;
  left: 20px;
  top: 1px;
}

#contents div#notice,
#contents div#gallery {
  height: 150px;
  padding: 8px;
  border: 1px solid #aaa;
}

#contents #notice td {
  line-height: 31px;
}

#contents #notice td:first-child {
  width: 100px;
}

#contents #bbsGallery button {
  border-bottom-color: #aaa;
  background-color: #eee;
}

#contents #gallery td {
  padding-top: 4px;
}
/* div#contents 컨텐츠 영역 끝 */

/* div#wrap 끝 */

/* div#footerFrame 시작 */
div#footerFrame {
  width: 100%;
  height: 100px;

  background-color: rgba(66, 191, 240, 0.2);
}

footer#footer {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

#footer div#footerLeft {
  flex: 1;
}

#footer nav#footerGNB ul#footerMainMenu {
  padding: 10px 0;
  /* border: 1px solid #000; */

  justify-content: center;
}

#footer #footerMainMenu li:nth-child(2n) {
  margin: 0 10px;
}

#footer #copyright {
  text-align: center;
  padding-top: 10px;
}

#footer div#familySite {
  width: 240px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
#footer #familySite select {
  font-size: 20px;
  padding: 10px;
}
/* div#footerFrame 끝 */

/* 모달레이어팝업 시작 */
tr#popPoint {
  cursor: pointer;
}

div#layerBG {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: none;
  position: fixed;
  left: 0;
  top: 0;
}

div#layerPopup {
  padding: 20px;
  border: 4px solid #aaa;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#layerPopup p {
  font-size: 20px;
  line-height: 34px;
  margin: 20px;
}

div#closeBtnArea {
  text-align: right;
  padding-right: 40px;
}

#closeBtnArea button {
  font-size: 20px;
  padding: 2px 20px;
  cursor: pointer;
}

/* 모달레이어팝업 끝 */
